.container {
  padding: 24px;
  border-radius: var(--border-radius);
  background-color: var(--calendar-background);
  display: grid;
  grid-template-columns: repeat(3, 224px);
  gap: 20px;
}

.calendar {
  display: grid;
  grid-template-rows: min-content;
  row-gap: 4px;
}

.calendar-header {
  height: var(--calendar-header-button-size);
  padding-bottom: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  display: grid;
  grid-template-columns: var(--calendar-header-button-size) 1fr var(--calendar-header-button-size);
  align-items: center;
}

.calendar-header__button {
  width: 20px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: var(--main-text-color)
}

.calendar-header__title {
  margin: 0;
  text-align: center;
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, var(--day-size));
  row-gap: 4px;
}

.day-cell {
  width: var(--day-size);
  height: var(--day-size);
  font-size: 0.75rem;
  font-weight: 400;
}

.day {
  border: 0;
  background-color: transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: var(--day-color);
}

.day.today {
  color: var(--today-color);
}

.day.secondary {
  color: var(--secondary-day-color);
}

.day.will-be-in-range,
.day.will-be-range-end,
.day.will-be-range-start,
.day.in-range {
  background-color: var(--selected-range);
}

.day.will-be-in-range,
.day.in-range {
  border-radius: 0;
}

.day.selected {
  color: white;
  background-color: var(--selected-day);
}

.day.will-be-in-range:nth-child(7n),
.day.in-range:nth-child(7n),
.day.range-end,
.day.will-be-range-end {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.day.will-be-in-range:nth-child(7n+1),
.day.in-range:nth-child(7n+1),
.day.range-start,
.day.will-be-range-start {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.day.range-start:nth-child(7n),
.day.range-end:nth-child(7n+1),
.day.will-be-range-start:nth-child(7n),
.day.will-be-range-end:nth-child(7n+1),
.day.range-end.range-start {
  border-radius: var(--border-radius);
}

.day.secondary {
  visibility: hidden;
}

.day.secondary.visible {
  visibility: visible;
}

.months,
.years {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  align-items: center;
}

.month,
.year {
  font-size: 0.75rem;
  padding: 0;
  background-color: transparent;
  border: 0;
  height: var(--day-size);
  color: var(--day-color);

  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 250ms linear 0ms;
}

.month:hover,
.year:hover {
  background-color: var(--selected-range);
}

.month.active,
.year.active {
  background-color: var(--selected-range);
}

.month.selected,
.year.selected {
  color: white;
  background-color: var(--selected-day);
}

.day:disabled,
.month:disabled,
.year:disabled,
.calendar-header__button:disabled {
  opacity: 0.45;
}

.day.now,
.month.now,
.year.now {
  font-weight: 600;
}
